name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build Release APK
        run: ./gradlew assembleRelease
      - name: List APK files
        run: |
         echo "=== APK files ==="
         find app -name "*.apk" || true
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
         name: ShortsGenerator-APK
         path: app/**/*.apk

      - name: Generate keystore
        run: |
         keytool -genkeypair \
         -keystore release.jks \
         -storepass 123456 \
         -keypass 123456 \
         -alias release \
         -keyalg RSA \
         -keysize 2048 \
         -validity 10000 \
         -dname "CN=ShortsGenerator,O=Dev,C=RU"

      - name: Build signed APK
        run: |
         ./gradlew assembleRelease \
         -Pandroid.injected.signing.store.file=release.jks \
         -Pandroid.injected.signing.store.password=123456 \
         -Pandroid.injected.signing.key.alias=release \
         -Pandroid.injected.signing.key.password=123456




