name: Generate Keystore Base64

on:
  workflow_dispatch:

jobs:
  keystore:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Generate keystore
        run: |
          keytool -genkeypair \
            -keystore release.jks \
            -storepass 123456 \
            -keypass 123456 \
            -alias release \
            -keyalg RSA \
            -keysize 2048 \
            -validity 10000 \
            -dname "CN=ShortsGenerator,O=Dev,C=RU"

      - name: Convert keystore to base64
        run: |
          echo "===== COPY BELOW ====="
          base64 release.jks
          echo "===== COPY ABOVE ====="
